* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.container {
	width: 1080px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 20px auto;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.btn:focus,
.btn:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus {
	color: #333;
	background-color: #e6e6e6;
	text-decoration: none;
}
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .125) inset;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}
select {
	width: 70px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
#gameSpeed {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}
#game {
	width: 400px;
	height: auto;
	margin: auto;
}
#button {
	float: left;
	margin-right: 10px;
}
#pannel table {
	border-radius: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-shadow: 3px 3px 5px #ccc inset;
}
#pannel td {
	width: 15px;
	height: 15px;
	border-radius: 5px;
}
.food {
	background: black;
}
.snake {
	background: green;
}
.head {
	background: red;
}

.switch {
	display: inline-block;
	min-width: 120px;
	margin-left: 20px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 6px;
	cursor: pointer;
	overflow: hidden;
	text-align: left;
}
.switch>div {
	top: 0;
	display: inline-block;
	width: 150%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.switch-animate {
	-webkit-transition: left 0.5s ease 0.5s;
	-o-transition: left 0.5s ease 0.5s;
	transition: left 0.5s ease 0.5s;
}
.switch-on {
	left: 0;
}
.switch-off {
	left: -50%;
}
.switch-left, .switch-right {
	display: inline-block;
	width: 33%;
	height: 100%;
	padding-bottom: 9px;
	padding-top: 9px;
	line-height: normal;
	font-size: 16px;
	background-color: #005fcc;
	background-image: -webkit-linear-gradient(#0044cc, #0088cc);
	background-image: -o-linear-gradient(#0044cc, #0088cc);
	background-image: linear-gradient(#0044cc, #0088cc);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}
.switch-right {
	background-color: #f0f0f0;
	background-image: -webkit-linear-gradient(#e6e6e6, #ffffff);
	background-image: -o-linear-gradient(#e6e6e6, #ffffff);
	background-image: linear-gradient(#e6e6e6, #ffffff);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.switch-label {
	display: inline-block;
	width: 34%;
	height: 100%;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #e6e6e6);
	background-image: linear-gradient(#ffffff, #e6e6e6);
	background-repeat: repeat-x;
}

.pullLeft {
	float: left;
}
.clear {
	clear: both;
}